extends layout

block content
  div(class="genresBar")
    a(class="genresBarHome" href='/') home
    h1(class="genresBarName") All sellers
    div(class="genresBarShoppingCard")
  div(class="genresCategoryCards")
    div(class="allGenresCard")
      each genre in genres
        div(class="genreCard")
          h1(class="genreCardTitle") #{genre.firstName} #{genre.lastName}
          div(class="genreCardCRUD")
            a(href=`/seller/${genre._id}`) view 
            a(href=`/seller/${genre._id}/update`) update 
            a(href=`/seller/${genre._id}/delete`) delete