extends layout

block content
  div(class="productContainer")
    img(src='../images/img.jpg' class="productImage")
    div(class="product")
      h1(class="productTitle") #{product.title}
      p(class="productDescription") #{product.description}
      div(class="productSellerAndCategory")
        a(class="productCategory" href=`/genre/${genre._id}`)  #{genre.name}
        a(class="productSeller" href=`/seller/${product.seller}`) #{seller.firstName} #{seller.lastName} 
      p(class="productSellerPrice") [price]: #{product.price}$
      button(class="addProduct") Add product