extends layout

block content
  div(class="productContainer")
    div(class="productImage")
    div(class="product")
      h1(class="productTitle") #{product.title}
      p(class="productDescription") #{product.description}
      div(class="productSellerAndCategory")
        a(class="productCategory" href=`/genre/${genre._id}`) [genre]: #{genre.name}
        a(class="productSeller" href=`/seller/${product.seller}`) [seller]: #{sellers.firstName} #{sellers.lastName} 
      p(class="productSellerPrice") [price]: #{product.price}$
      p(class="productSellerPrice") [count]: #{product.count}
      div(class="links")
        a(href='/') home
        a(href=`/product/${product._id}/delete`) delete product
        a(href=`/product/${product._id}/update`) update product