extends layout

block content
  div(class="genresBar")
    a(class="genresBarHome" href='/') home
    h1(class="genresBarName") Product form
    div(class="genresBarShoppingCard")
  div(class="formGenreContainer")
    form(method="POST" action="/product/new")
      input(class="formGenreInput" type="text" value=(genre === undefined ? '' : genre.title) placeholder="product name" name="productName" required)
      input(class="formGenreInput" type="text" value=(genre === undefined ? '' : genre.description) placeholder="product description" name="productDescription" required)
      input(class="formGenreInput" type="text" value=(genre === undefined ? '' : genre.count) placeholder="Genre count" name="productCount" required)
      input(class="formGenreInput" type="text" value=(genre === undefined ? '' : genre.price) placeholder="Genre price" name="productPrice" required)
      if genre === undefined 
        select(class="formGenreInput" name="genreName")  
          each genre in genres
            option(value=`${genre._id}`) #{genre.name}
        select(class="formGenreInput" name="sellerName") 
          each seller in sellers
            option(value=`${seller._id}`) #{seller.firstName} #{seller.lastName}
      else 
        select(class="formGenreInputDisplay" name="genreName") 
          option(value=`${genre.genres._id}`) 
        select(class="formGenreInputDisplay" name="sellerName") 
          option(value=`${genre.seller._id}`) 
      button(class="formGenreButton" type="submit") Submit