extends layout

block content
  div(class="genresBar")
    h1(class="genresBarGithub")
    h1(class="genresBarName") #{seller.firstName} #{seller.lastName}
    div(class="genresBarShoppingCard")
      span(class="material-icons") shopping_cart
  div(class="genresCategoryCards")
    div(class="genresCategorySellerDescription") #{seller.description}
    div(class="genresCategoryGrid")
      each genre in seller_products
        div(class="genresCategoryCard")
          img(src='../images/img.jpg' class="genresCategoryCardImg")
          a(class="genresCategoryCardName" href=`/product/${genre._id}`) #{genre.title}